/* @import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css"; */
*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  /* COLORS  */
  /* primary */
  --primary-0: #f0efff;
  --primary-50: #d8d6ff;
  --primary-100: #c1beff;
  --primary-200: #aaa5ff;
  --primary-300: #938dff;
  --primary-400: #7b74ff;
  /* main */
  --primary-500: #645cff;
  --primary-600: #554ed9;
  --primary-700: #4640b3;
  --primary-800: #37338c;
  --primary-900: #282566;
  --primary-1000: #191740;
  --primary-1100: #0a0919;
  --lit-0: #002e60;
  /* grey */
  --grey-0: #fafbfc;
  --grey-50: #f2f4f8;
  --grey-100: #eaedf3;
  --grey-200: #e2e7ef;
  --grey-300: #dbe0ea;
  --grey-400: #d3dae6;
  --grey-500: #cbd3e1;
  --grey-600: #adb3bf;
  --grey-700: #8e949e;
  --grey-800: #70747c;
  --grey-900: #51545a;
  --grey-1000: #333538;
  --grey-1100: #141516;

  /* rest */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  /* box shadows */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  /* typography */
  --defaultFontSize: 87.5%;
  --headingFont: "Inconsolata", monospace;
  --bodyFont: "Inter Bold", "Arial"
  --smallText: 0.8em;
  --extraSmallText: 0.7em;
  /* rest */
  --backgroundColor: var(--grey-0);
  --textColor: var(--grey-1000);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
}
html {
  font-size: var(--defaultFontSize);
}
@media only screen and (min-width: 576px) {
  :root {
    --defaultFontSize: 100%;
  }
}
@media only screen and (min-width: 768px) {
  :root {
    --defaultFontSize: 112.5%;
  }
}

body {
  background: var(--backgroundColor);
  color: var(--textColor);
  font-family: "Inter", "Arial";
  font-weight: 400;
  line-height: 1.75;
}

p {
  margin: 0;
  margin-bottom: 1rem;
  /* max-width: 40em; */
  font-family: "Inter Bold", "Arial";
  font-size: medium;
  max-width: 90%;
}

h2 {
  font-family: "Inter Bold", "Arial";
  color: #202a35;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 29px;
  margin-top: 0px;
  text-transform: capitalize;
}


h1 {
  font-family: 'Inter Bold', 'Arial';
  color: #202A35;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 41px;
}
  

h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: 3.052rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--smallText);
}

ul {
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.form {
  width: 100%;
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
}
label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

input,
textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--grey-0);
  border-color: transparent;
  border: 1px solid var(--grey-300);
}
.form-row {
  margin-bottom: 1rem;
}
textarea {
  width: 100%;
  height: 7rem;
}

::placeholder {
  color: var(--grey-600);
}
.form-alert {
  color: var(--red-dark);
  font-size: var(--extraSmallText);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}
hr {
  border-top: var(--line);
}

span{
  text-transform: none;
}

.center-par{
  margin-left: auto;
  margin-right: auto;
}
/*----------------------------------------------------------------------------------------------*/

.dropdown-toggle {
  white-space: nowrap;
  position: relative;
}
/* DONT TOUCH */
.dropdown-item a {
  width: 100%;
  height: 100%;
}

button.dropdown-toggle {
  background-color: rgb(64, 64, 119);
}

button.dropdown-toggle:hover {
  background-color: rgb(65, 79, 136);
}

.dropdown-toggle:after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

/* Shows dropdown menu */
.dropdown-menu.show {
  display: block;
  /* position: absolute;
} */
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 3rem;
  padding: 0.5rem 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: var(--lit-0);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

@media screen and (max-width: 679px) {
  .dropdown-menu {
    left: 38% !important;
  }
  /* .dropdown-menu.show {
    vertical-align: ;
  } */
  .nav-drop.nav-item.show.dropdown { 
    height: 7rem;
    /* in the dropdown navbar, the languages */
  }
}

/* items in the dropdrown */
.dropdown-item {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  color: white;
  text-align: center;
}

.dropdown-item:hover {
  color: rgb(144, 144, 255);
}

.nav-drop:hover {
  height: 1.8rem;
}

/* This allow menu to remain open after hovering so we can click links*/

/*----------------------------------------------------------------------*/


button,
.btn {
  cursor: pointer;
  appearance: none;
  color: var(--white);
  background: #0072E8;
  border: none;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  font-family: Arial;
  font-size: 15px;
}

button.start_form.btn.btn-primary{
  width: 195px;
  height: 60px;
}


button:hover,
.btn:hover {
  color: var(--white);
  background: #0055b1;
  box-shadow: var(--shadow-4);
}

button.small {
  padding: 0.3rem 0.5rem;
  font-size: var(--smallText);
}
button.hipster {
  color: var(--primary-500);
  background: var(--primary-50);
  box-shadow: var(--shadow-1);
}
button.hipster:hover {
  background: var(--primary-100);
  box-shadow: var(--shadow-2);
}
button.block {
  width: 100%;
}
button.button.btn.btn-primary{
  background-color: white;
}



/* Basic Classes */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-success {
  color: var(--green-dark);
  background-color: var(--green-light);
}
.alert-danger {
  color: var(--red-dark);
  background-color: var(--red-light);
}

.container {
  padding: 5rem 0;
}
.container-center {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
}
.page {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto; /* auto keeps the 90% of the page specified in the width at the center of the page */
}
.page {
  min-height: calc(100vh - (6rem + 4rem));
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}
.title-underline {
  height: 0.2rem;
  width: 7rem;
  background: var(--primary-600);
  margin: 0 auto;
}

form > *:last-child {
  margin-bottom: 0;
}

/* loading */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: var(--clr-primary-5);
  animation: spinner 0.6s linear infinite;
}
.loading {
  margin: 0 auto;
}
/* form loading */

.form-loading {
  position: relative;
}
.form-loading::before {
  background: var(--white);
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: var(--borderRadius);
  opacity: 0.8;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.form-loading::after {
  content: "";
  position: absolute;
  top: calc(50% - 3rem);
  left: calc(50% - 3rem);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: var(--clr-primary-5);
  animation: spinner 0.6s linear infinite;
}

/*#########*/
/* END OF GLOBALS */
/*#########*/

/*#########*/
/* Navbar */
/*#########*/
.navbar {
  /* parent container */
  width: 100%;
  display: flex;
  align-items: center; /* Both this and the line below it were center. However I liked it more when everything was aligned left */
  justify-content: center;
  background: #002e60;
}

/*sits in the center of the navbar */
.nav-center {
  width: 90vw; /* 90% of the screen width regardless if small or big */
  max-width: 100%; /*var(--max-width); our content is never going to be bigger that max width */
  /* make the nav-center span all the way accross the navbar so that contact button is all the way to the right*/
}

/* */
.nav-header {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-header span {
  display: block;
  text-align: left;
  font-size: 1rem;
  color: white;
  letter-spacing: var(--letterSpacing);
  padding: 1rem 0;
  transition: var(--transition);
  margin-left: 0.7rem;
  margin-right: 3rem;
  width: 100%;
  margin-top: -2.8rem;
  height: 1rem;
}

.nav-header h5 {
  font-family: "Inter", "Arial";
  height: 1rem;
}

.nav-header img {
  width: 80px;
  margin-left: -6px;

  justify-content: flex-start;
}

.nav-btn {
  padding: 0.15rem 0.75rem;
}
.nav-btn svg {
  font-size: 1.5rem;
}
.nav-links {
  height: 0; /*hide by default */
  overflow: hidden; /*when overflow, hide them */
  display: flex;
  flex-direction: column; /*one on top of each other */
  transition: var(--transition);
}

/* change here if you add more links, this makes navbar bigger */
.show-links {
  height: 20rem;
}
/* Individual links*/
.nav-link {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: white;
  letter-spacing: var(--letterSpacing);
  padding: 1rem 0;
  border-top: 1px solid var(--grey-500);
  transition: var(--transition);
}

.nav-link:hover {
  color: rgb(144, 144, 255);
}

.active-link {
  color: rgb(144, 144, 255);
}
.contact-link {
  display: flex;
  justify-content: center;
}
.contact-link a {
  padding: 0.15rem 1rem;
}

@media screen and (max-width: 700px) {
  .nav-drop:hover {
    height: 1.9rem;
  }
}

/* Logo on navbar will get reduced to 50px when less than 600px screen */
@media screen and (max-width: 600px) {
  /* .nav-header img {
    width: 50px;
  } */
  .nav-header span {
    font-size: smaller;
  }
}
@media screen and (max-width: 1029px) {
  .nav-header span {
    font-size: 13px;
  }
}
/* Logo on navbar will dissapear when smaller than 300px screen is used */
@media screen and (max-width: 300px) {
  .nav-header img {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .nav-header span {
    display: none;
  }
}
/*All these will apply once the screen is BIGGER than 992px */
@media screen and (min-width: 679px) {
  .navbar {
    height: 6rem;
  }
  .nav-center {
    display: flex; /* all in one line */
    align-items: center; /* align vertically in the center*/
  }
  .nav-header {
    padding: 0;
    margin-right: 2rem;
    height: auto; /*show them in big screen */
  }

  .nav-btn {
    /* this hides the nav-button once we get to the bigg screen (past 992px) */
    display: none;
  }

  .nav-btn:hover {
    display: block;
  }

  /* margin auto allows for the links to shrink as the screen shrinks */
  .nav-links {
    margin-left: auto;
    margin-right: auto;
    height: auto !important; /* once we go to big screen we see the links*/
    flex-direction: row; /* now align them as a row*/
    align-items: center; /* align vertically in center*/
    width: 100%; /* make the links span all across*/
    justify-content: right;
  }
  .nav-link {
    padding: 0;
    border-top: none;
    margin-right: 1rem;
    font-size: 1rem;
  }
  .contact-link {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0;
    margin-left: auto;
  }
}

/*#########*/
/* Categories */
/*#########*/

.categories {
  background-color: rgba(228, 222, 222, 0.774);
  width: 100%;
  /* height: 0; */
}

.cat-buttons {
  display: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 70%; /* make this fixed not percent */
  margin-left: auto;
  margin-right: auto;
  gap: 1rem;
  padding: 0;
  padding: 1rem;
  overflow: hidden;
}

.show-cats {
  display: grid;
}

.cat-buttons button {
  background-color: white;
  color: var(--lit-0);
  border-bottom: 5px solid transparent;
  border-radius: 0.5rem;
}

.cat-buttons button:hover {
  color: var(--lit-0);
  background-color: #8e949e;
}

.button.btn.btn-primary {
  width: 100%;
  height: 80%;
  vertical-align: middle;
}
/* gatsby image */
.gatsby-image-wrapper.gatsby-image-wrapper-constrained.logo_img {
  float: left;
  /* display: inline-block; */
  width: 40px;
  height: 40px;
  margin-top: 4px;
  
}
/* button span */
span.logo_text {
  display: flex;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: var(--letterSpacing);
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  vertical-align: middle;
  width: 70%;
  font-weight: bold;
  /* border: red solid 1px; */
}

.show_table_btn {
  cursor: pointer;
  width: 10.5rem;
  margin-left:auto;
  margin-right: auto;
  color: var(--lit-0);
  text-align: center;
}

.show_table_btn:hover {
  color: var(--lit-0);
}

.arrow {
  display: inline-flex;
  vertical-align: middle;
}

@media screen and (max-width: 1400px) {
  .cat-buttons {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;


    /* border-bottom: 5px solid transparent; */
  }
  .gatsby-image-wrapper.gatsby-image-wrapper-constrained.logo_img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 1090px) {
  .cat-buttons {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 705px) {
  .cat-buttons {
    grid-template-columns: 1fr;
  }
}


/*#########*/
/* Footer */
/*#########*/
.page-footer {
  text-align: center;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center; /* change this to move it left and right */
  background: var(--black);
  color: var(--white);
}
.page-footer h5 {
  margin-bottom: 0;
}
.page-footer p {
  margin-bottom: 0;
}
.page-footer span,
.page-footer a {
  color: var(--primary-500);
}

/*#########*/
/* Error */
/*#########*/
.error-page {
  min-height: calc(100vh - (6rem + 4rem));
  text-align: center;
  padding-top: 3rem;
}
.error-page h1 {
  font-size: 9rem;
}

/* ############ */
/* About Us */
/* ############ */

.content_bar_in_text {
  float: left;
  width: 100%;
  padding: 35px 0;
  text-align: left;
  border-bottom: 1px solid #cccccc;
  box-sizing: border-box;
}
.content_bar_in_text h1 {
  margin: 0;
  font-size: 40px;
  font-weight: bold;
}

.content_bar_in_text h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  font-family: "Arial";
  margin-top: 19.92px;
}
.content_bar {
  margin: 0px auto 0 auto;
  padding: 0px;
  max-width: 1080px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
}
.content_bar_in {
  float:left;
  width:100%;
  padding:35px 0;
  border-bottom: 1px solid #CCCCCC;
  box-sizing: border-box;
}

.white_band {
  float: left;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
}
/* .gatsby-image-wrapper.gatsby-image-wrapper-constrained.about_video_call {
  width: 100%;
} */
.r_img_embed {
  float: right;
  padding: 10px;
  box-sizing: border-box;
  max-width: 450px;
}

@media only screen and (max-width: 960px) {
  .r_img_embed {
    float: none;
    position: relative;
    margin: 15px auto;
  }
}

.caption {
  padding: 8px 5px 8px 5px;
  color: #555;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 15px;
  color: #555;
  box-sizing: border-box;
  width: 100%;
  border-bottom: solid 1px #ccc;
  vertical-align: middle;
}

.p_bar {
  margin:0px auto 0 auto;
  padding:0px;
	max-width:885px;
  text-align:center;
  box-sizing: border-box;
}
.logo_table {
  float:left;
  text-align:left;
  padding:0;
	box-sizing: border-box;
  display: table;
  height:60px;
}

.logo_cell {
  display: table-cell;
  vertical-align: middle;
  text-align:center;
  box-sizing: border-box;
}

.content_bar_logos_1 {
  margin:25px auto 0 auto;
  padding:0px;
	max-width:772px;
	box-sizing: border-box;
  height: 80px;
}
.content_bar_logos_2 {
  margin:10px auto 0 auto;
  padding:0px;
	max-width:830px;
	box-sizing: border-box;
  height: 80px;
}
.content_bar_logos_3 {
  margin:10px auto 0 auto;
  padding:0px;
	max-width:900px;
	box-sizing: border-box;
  height: 90px;
}

.logo {
  margin: 15px;
}

.law_logo {
  margin: 15px;
}
a.litelink {
  text-decoration: none;
  color: #0072E8;
  font-size: 15px;
}

@media only screen and (max-width: 1130px) {

  .text_body {
    padding:0px 15px;
  }

	#output {
		padding:0 15px;
	}

  .content_bar_in_text {
    padding-left:15px;
    padding-right:15px;
  }

  div.content_bar_description {
    padding-left:15px;
    padding-right:15px;
  }

   .ma_logo {
    padding: 10px 15px 0 15px;
  }

	.lit_logo {
    padding: 10px 15px 0 15px;
  }

  .title {
    font-size: 18px;
  } */

    .content_bar_in {
      padding:30px 0;
    } 

}

@media only screen and (max-width: 960px) {

  .r_img_embed {
  		float:none;
  		position:relative;
  		margin:15px auto;
  	}

  .step {
    max-width: 100%;
    padding:0px 15px 20px 15px;
  }

  .step_mid {
    max-width: 100%;
    padding:0px 15px 20px 15px;
  }

  .p_bar {
    margin:0px;
  	width:100%;
  }

  .content_bar_logos {
  	width:100%;
  }


  .logo_table {
    width:100%;
  }

  .logo_cell {
    width:100%;
  }

  .content_bar_in {
    padding:30px 15px;
  }

}

/*#########*/
/* Home */
/*#########*/

.divTable {
  display: table;
  width:100%;
}

.divRow {
  display:table-row;
  width:100%;
}

.divCell_desc {
   float:left;/*fix for  buggy browsers*/
   display:table-column;
   width:50%;
   height:100%;
}

.spot_description {
	float:right;
	box-sizing: border-box;
	max-width:600px;
	width:530px;
	margin:0;
	padding:60px 50px 80px 0;
	background:#e6ecfc;
}
.divCell_input {
  float:left;/*fix for buggy browsers*/
  display:table-column;
  width:50%;
  height:100%;
}
.spot_input {
	float:left;
	width:550px;
	padding:60px 10px 80px 50px;
	box-sizing: border-box;
}

@media only screen and (max-width: 1130px) {

	.divCell_desc {
			width:40%;
	}
	.divCell_input {
			width:60%;
	}

	.spot_description {
			box-sizing: border-box;
			max-width:100%;
			width:100%;
			margin:0;
			padding:15px 30px 0px 25px;
	}
	.spot_input {
			box-sizing: border-box;
			width:100%;
			margin:0;
			padding:15px 25px 100px 30px;
	}

}
@media only screen and (max-width: 950px) {

	.spot_input {
			padding:15px 25px 165px 30px;
	}

}
@media only screen and (max-width: 800px) {

	.spot_input {
			padding:15px 25px 225px 30px;
	}

}


@media only screen and (max-width: 700px) {

	.divCell_desc {
			width:100%;
	}
	.divCell_input {
			width:100%;
	}

	.spot_description {
			box-sizing: border-box;
			max-width:100%;
			width:100%;
			margin:0;
			padding:0 15px 20px 15px;
	}
	.spot_input {
			box-sizing: border-box;
			width:100%;
			margin:0;
			padding:0 15px 30px 15px;
	}

}

/*#########*/
/* Housing */
/*#########*/
.content_bar_description {
  float:left;
  width:100%;
  padding:35px 0;
  border-bottom: 1px solid #CCCCCC;
  text-align:left;
  box-sizing: border-box;
}
a.anchor {
  display:block;
  float:right;
  width:22px;
  height:16px;
  background-image: url("../images/link.png");
  background-repeat: no-repeat;
  background-position: center;
}
.blue {
  color:#0072E8;
  font-weight: bold;
  
}
.desc_table {
  float:left;
  max-width: 100%;
  text-align:left;
  box-sizing: border-box;
  display: table;
  width:100%;
}

.desc_cell {
  display: table-cell;
  vertical-align: middle;
}

h2.blue{
  font-size: 20px;
}
ul li::marker {
  color: red;
  font-size: 1.5em;
}
.help_listing {
	text-align:center;
}

/*#########*/
/* Hero */
/*#########*/

.hero-img {
  height: 100%; /* 100% of the size of the parent (hero), using parent to control size of the image*/
  border-radius: var(--borderRadius);
}
.hero {
  height: 40vh; /* 40% of the size of the window*/
  position: relative;
  margin-bottom: 2rem;
}
.hero-container {
  position: absolute; /* This positions text ON TOP of the image*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* also 100% of the parent (hero same as in hero-img). That is why text and image are perfectly aligned on top of each other*/
  display: flex;
  align-items: center; /* we just put the text in the center and use absolute potition*/
  justify-content: center;
  background: rgba(0, 0, 0, 0.4); /* makes the background a bit darker*/
  border-radius: var(--borderRadius);
}
.hero-text {
  color: var(--white);
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .hero-text h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }
}
/*###############*/
/* Video */
/*###############*/
.vid_wrapper_right {
	box-sizing: border-box;
	float:right;
	padding-bottom:25px;
}

.profile_vid_right {
	box-sizing: border-box;
	float:right;
	margin:15px 0 25px 25px;
	width:400px;
	height:200px;
}
.embed_vid {
	width:400px;
	height:225px;
}

@media only screen and (max-width: 680px) {
	.vid_wrapper, .vid_wrapper_right {
		position:relative;
		width:100%;
	}
	.profile_vid, .profile_vid_right {
		float:none;
		position:relative;
		margin:15px auto;
		width:400px;
	}
	.embed_vid {
		float:none;
		width:100%;
	}
	.profile_img {
		float:none;
		position:relative;
		margin:15px auto;
		width:400px;
	}

}

@media only screen and (max-width: 480px) {

	.listing {
		padding-left: 0px;
		padding-right: 0px;
	}

	.profile_wrapper {
		position:relative;
		width:100%;
	}
	.profile_pic {
		float:none;
		position:relative;
		margin:15px auto;
		width:200px;
	}

	.profile_vid, .profile_vid_right {
		float:none;
		width:100%;
	}

	.profile_img {
		float:none;
		width:100%;
	}

}


/************/
/* Modal */
/************/

.modal{position:fixed;top:0;left:0;z-index:1055;display:none;width:100%;height:100%;overflow-x:hidden;overflow-y:auto;outline:0}
.modal-dialog{position:relative;width:auto;margin:.5rem;pointer-events:none}
.modal.fade .modal-dialog{transition:transform .3s ease-out;transform:translate(0,-50px)}
@media (prefers-reduced-motion:reduce){.modal.fade .modal-dialog{transition:none}}
.modal.show .modal-dialog{transform:none}
.modal.modal-static .modal-dialog{transform:scale(1.02)}
.modal-dialog-scrollable{height:calc(100% - 1rem)}
.modal-dialog-scrollable .modal-content{max-height:100%;overflow:hidden}
.modal-dialog-scrollable .modal-body{overflow-y:auto}
.modal-dialog-centered{display:flex;align-items:center;min-height:calc(100% - 1rem)}
.modal-content{position:relative;display:flex;flex-direction:column;width:100%;pointer-events:auto;background-color:#fff;background-clip:padding-box;border:1px solid rgba(0,0,0,.2);border-radius:.3rem;outline:0}
.modal-backdrop{position:fixed;top:0;left:0;z-index:1050;width:100vw;height:100vh;background-color:#000}
.modal-backdrop.fade{opacity:0}
.modal-backdrop.show{opacity:.5}
.modal-header{display:flex;flex-shrink:0;align-items:center;justify-content:space-between;padding:1rem 1rem;border-bottom:1px solid #dee2e6;border-top-left-radius:calc(.3rem - 1px);border-top-right-radius:calc(.3rem - 1px)}
.modal-header .btn-close{padding:.5rem .5rem;margin:-.5rem -.5rem -.5rem auto}
.modal-title{margin-bottom:0;line-height:1.5}
.modal-body{position:relative;flex:1 1 auto;padding:1rem}
.modal-footer{display:flex;flex-wrap:wrap;flex-shrink:0;align-items:center;justify-content:flex-end;padding:.75rem;border-top:1px solid #dee2e6;border-bottom-right-radius:calc(.3rem - 1px);border-bottom-left-radius:calc(.3rem - 1px)}
.modal-footer>*{margin:.25rem}
@media (min-width:576px){
  .modal-dialog{max-width:500px;margin:1.75rem auto}
  .modal-dialog-scrollable{height:calc(100% - 3.5rem)}
  .modal-dialog-centered{min-height:calc(100% - 3.5rem)}
  .modal-sm{max-width:300px}}
@media (min-width:992px){
  .modal-lg,.modal-xl{max-width:800px}}
@media (min-width:1200px){
    .modal-xl{max-width:1140px}}
.modal-fullscreen{width:100vw;max-width:none;height:100%;margin:0}
.modal-fullscreen .modal-content{height:100%;border:0;border-radius:0}
.modal-fullscreen .modal-header{border-radius:0}
.modal-fullscreen .modal-body{overflow-y:auto}
.modal-fullscreen .modal-footer{border-radius:0}
@media (max-width:575.98px){
  .modal-fullscreen-sm-down{width:100vw;max-width:none;height:100%;margin:0}
  .modal-fullscreen-sm-down .modal-content{height:100%;border:0;border-radius:0}
  .modal-fullscreen-sm-down .modal-header{border-radius:0}
  .modal-fullscreen-sm-down .modal-body{overflow-y:auto}
  .modal-fullscreen-sm-down .modal-footer{border-radius:0}}
@media (max-width:767.98px){
  .modal-fullscreen-md-down{width:100vw;max-width:none;height:100%;margin:0}
  .modal-fullscreen-md-down .modal-content{height:100%;border:0;border-radius:0}
  .modal-fullscreen-md-down .modal-header{border-radius:0}
  .modal-fullscreen-md-down .modal-body{overflow-y:auto}
  .modal-fullscreen-md-down .modal-footer{border-radius:0}}
@media (max-width:991.98px){
  .modal-fullscreen-lg-down{width:100vw;max-width:none;height:100%;margin:0}
  .modal-fullscreen-lg-down .modal-content{height:100%;border:0;border-radius:0}
  .modal-fullscreen-lg-down .modal-header{border-radius:0}
  .modal-fullscreen-lg-down .modal-body{overflow-y:auto}
  .modal-fullscreen-lg-down .modal-footer{border-radius:0}}
@media (max-width:1199.98px){
  .modal-fullscreen-xl-down{width:100vw;max-width:none;height:100%;margin:0}
  .modal-fullscreen-xl-down .modal-content{height:100%;border:0;border-radius:0}
  .modal-fullscreen-xl-down .modal-header{border-radius:0}
  .modal-fullscreen-xl-down .modal-body{overflow-y:auto}
  .modal-fullscreen-xl-down .modal-footer{border-radius:0}
}
@media (max-width:1399.98px){
  .modal-fullscreen-xxl-down{width:100vw;max-width:none;height:100%;margin:0}
  .modal-fullscreen-xxl-down .modal-content{height:100%;border:0;border-radius:0}
  .modal-fullscreen-xxl-down .modal-header{border-radius:0}
  .modal-fullscreen-xxl-down .modal-body{overflow-y:auto}
  .modal-fullscreen-xxl-down .modal-footer{border-radius:0}}
